body {
  background-color: #f7f7f7;
}

h1 {
  margin-top: 5%;
  text-align: center;
  /*color: white;*/
  font-family: 'ThatPaper', sans-serif;
  font-size: 5em;
}



.flexParent {
  display: flex;
  align-items: center;
  justify-content:  flex-end;
  flex-direction: column;
  height: 30vh;
}

.form1 {
  width: 100%;
}

.form1 .form-group{
  text-align: center;
}

.form1 input {
  padding:15px;
  width: 50%;
  font-size: 1.5em;
}

button.submit {
  padding: 10px;
  background-color: white;
  font-size: 3em;
  margin-top: 10px;
}

#searchbar {
  width: 100%;
  position: relative;
  right: -25px;
}

.up {
  transform:translateY(-250px);
  transition:1s;
}
.down {
  transition:1s;
}

.hiddenn {
  opacity: 0;
  transition:1s;
}

.shown {
  opacity: 1;
  transition: 1s;
}

.add-on .input-group-btn > .btn {
    position: relative;
    left:-40px;
    padding: 20px;
    border: none;
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
    border-color:#E9EBEE;
}
